/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
    padding-top: 60px; /* Ajuste cette valeur en fonction de la hauteur de ton header */
}

/* Style pour le header */
header {
    background-color: #006d1fad; /* Couleur de fond du header */
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 60px; /* Ajuster la hauteur du header ici */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles pour le menu de navigation */
nav {
    display: flex;
    align-items: center;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-menu a:hover {
    background: #555;
}

/* Style pour le menu burger */
.burger-menu {
    display: none;
}

.burger-menu div {
    width: 30px;
    height: 3px;
    background: rgb(255, 255, 255);
    margin: 6px 0;
    transition: 0.3s;
}

/* Main Content Styles */
main {
    margin: 20px;
    padding: 0 10px;
}
/* Style pour l'élément de menu actif */
.menu-active a {
    background-color: #555; /* Couleur de fond pour l'élément actif */
    color: white; /* Couleur du texte pour l'élément actif */
    font-weight: bold; /* Met en gras le texte pour l'élément actif */
}

.menu-active a:hover {
    background-color: #777; /* Couleur de fond au survol pour l'élément actif */
}
/* Style pour les icônes du menu */
.menu-icon {
    width: 20px; /* Largeur des icônes */
    height: auto; /* Conserve les proportions des icônes */
    margin-right: 8px; /* Espace entre l'icône et le texte */
    vertical-align: middle; /* Aligne l'icône verticalement avec le texte */
}

/* Styles pour le menu en mode mobile */
@media (max-width: 768px) {
    .nav-menu a {
        display: flex;
        align-items: center;
        gap: 10px; /* Espace entre l'icône et le texte */
    }

    .menu-icon {
        width: 16px; /* Réduit la largeur des icônes en mode mobile */
    }
}


/* Styles pour les articles */
.articles {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.article {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.article img {
    width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
    height: auto; /* Conserve les proportions de l'image */
    object-fit: cover; /* Ajuste la taille de l'image pour couvrir le conteneur tout en gardant les proportions */
}

.article-content {
    padding: 20px;
}

.article-content h2 {
    margin-top: 0;
}

.article-content p {
    margin: 10px 0;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #006d1fad;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

/* Responsive Styles pour les articles */
@media (max-width: 768px) {
    .article {
        flex-direction: column;
    }
    
    .article img {
        width: 100%; /* Assure que l'image ne dépasse pas la largeur de son conteneur */
        height: auto; /* Conserve les proportions de l'image */
    }
}


.article-detail {
    max-width: 1200px; /* Largeur maximale de la section */
    margin: 0 auto; /* Centre la section horizontalement */
    padding: 20px; /* Ajoute de l'espace autour de la section */
}

.article-detail img {
    max-width: 100%; /* Ajuste la largeur maximale à 100% du conteneur */
    height: auto; /* Conserve les proportions de l'image */
    display: block; /* Supprime l'espace blanc sous les images */
    margin: 10px 0; /* Ajoute un espace au-dessus et en dessous des images */
}

.article-content {
    padding: 20px;
}

.article-content h1 {
    margin-top: 0;
}

.article-content p {
    margin: 10px 0;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #006d1fad;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

/* Styles pour les projets */
.project {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project img {
    max-width: 100%; /* Ajuste la largeur maximale à 100% du conteneur */
    height: auto; /* Conserve les proportions de l'image */
    object-fit: cover; /* Assure que l'image couvre le conteneur sans distorsion */
}

.project-content {
    padding: 20px;
}

.project-content h2 {
    margin-top: 0;
}

.project-content p {
    margin: 10px 0;
}

.read-more {
    display: inline-block;
    margin-top: 10px;
    color: #006d1fad;
    text-decoration: none;
    font-weight: bold;
}

.read-more:hover {
    text-decoration: underline;
}

.project:hover {
    transform: translateY(-5px);
}

/* Styles pour les images dans les détails du projet */
.project-detail img {
    max-width: 100%; /* Ajuste la largeur maximale à 100% du conteneur */
    height: auto; /* Conserve les proportions de l'image */
    display: block; /* Supprime l'espace blanc sous les images */
    margin: 10px 0; /* Ajoute un espace au-dessus et en dessous des images */
}

/* Styles pour le footer */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Optionnel : ombre pour séparer visuellement du reste du contenu */
    position: relative; /* Pour s'assurer que le footer reste en bas */
}

/* Styles pour les icônes de contact dans le footer */
.footer-icon img {
    max-width: 30px; /* Ajuste cette valeur selon tes besoins */
    height: auto; /* Garde les proportions de l'image */
    display: inline-block; /* S'assure que les images sont affichées en ligne */
    margin-right: 10px; /* Ajoute de l'espace entre les icônes */
}

/* Styles pour les informations de contact */
.contact-info {
    margin-bottom: 10px;
}

.contact-info a {
    color: white;
    margin-right: 10px;
    display: inline-block;
}

.contact-details {
    margin-top: 10px;
    font-size: 14px; /* Ajuste la taille de la police si nécessaire */
}

.contact-details p {
    margin: 5px 0;
}

.contact-details a {
    color: white;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* Assure-toi que les images dans le contenu principal sont limitées en taille */
.company img {
    max-width: 100px; /* Ajuste cette valeur selon tes besoins */
    height: auto; /* Conserve les proportions de l'image */
    margin-right: 10px; /* Ajoute un espace entre les images et le texte */
    vertical-align: middle; /* Aligne les images avec le texte */
}

/* Ajuste les images du footer */
.footer-icon img {
    max-width: 30px; /* Ajuste cette valeur pour les icônes du footer */
    height: auto;
    margin: 0 10px; /* Espace entre les icônes */
}


/* Responsive Styles pour le footer */
@media (max-width: 768px) {
    .contact-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-info a {
        margin: 5px 0; /* Ajoute de l'espace entre les icônes de contact */
    }
}
.contact-form-container,
.contact-info,
.map-container {
    margin-bottom: 30px; /* Assure suffisamment d'espace entre les éléments */
}
